<div class="container">
  <br />
  <div class="card">
    <div class="card-header text-white bg-secondary">
      <!-- L'en-tête ici -->
    </div>
    <div class="card-body">
      <h5 class="card-title">Déclarer un problème</h5>
      <p class="card-text">
        Veuillez renseigner les zones suivantes et soumettre votre demande
      </p>

      <!-- Add the form here -->
      <form [formGroup]="problemeForm" (ngSubmit)="save()">
        <div class="form-group row">
          <label for="prenomId" class="col-md-2 col-form-label text-right"
            >Prénom :</label
          >
          <div class="col-md-10">
            <input
              class="form-control"
              id="prenomId"
              type="text"
              placeholder="Votre prénom ici (obligatoire)"
              formControlName="prenom"
              [ngClass]="{
                'is-valid':
                  (problemeForm.get('prenom')?.touched ||
                    problemeForm.get('prenom')?.dirty) &&
                  problemeForm.get('prenom')?.valid,
                'is-invalid':
                  (problemeForm.get('prenom')?.touched ||
                    problemeForm.get('prenom')?.dirty) &&
                  !problemeForm.get('prenom')?.valid
              }"
            />
          </div>
          <span
            class="form-text"
            *ngIf="(problemeForm.get('prenom')?.touched ||
                problemeForm.get('prenom')?.dirty) &&
                problemeForm.get('prenom')?.errors"
          >
            <span *ngIf="problemeForm.get('prenom')?.errors?.['required']">
              <small class="text-muted"> Merci de saisir votre prénom. </small>
            </span>
            <span *ngIf="problemeForm.get('prenom')?.errors?.['nbreCaracteresInsuffisant']">
              <small class="text-muted"> Ajouter des caractères </small>
            </span>
          </span>
        </div>
        <div class="form-group row">
          <label for="nomId" class="col-md-2 col-form-label text-right"
            >Nom :</label
          >
          <div class="col-md-10">
            <input
              class="form-control"
              id="nomId"
              type="text"
              placeholder="Votre nom ici (obligatoire)"
              formControlName="nom"
              [ngClass]="{
                'is-valid':
                  (problemeForm.get('nom')?.touched ||
                    problemeForm.get('nom')?.dirty) &&
                  problemeForm.get('nom')?.valid,
                'is-invalid':
                  (problemeForm.get('nom')?.touched ||
                    problemeForm.get('nom')?.dirty) &&
                  !problemeForm.get('nom')?.valid
              }"
            />
          </div>
          <span
            class="form-text"
            *ngIf="(problemeForm.get('nom')?.touched ||
                problemeForm.get('nom')?.dirty) &&
                problemeForm.get('nom')?.errors"
          >
            <span *ngIf="problemeForm.get('nom')?.errors?.['required']">
              <small class="text-muted"> Merci de saisir votre nom de famille. </small>
            </span>
            <span *ngIf="problemeForm.get('nom')?.errors?.['maxlength']">
              <small class="text-muted"> Veuillez entrer moins de caractères </small>
            </span>
          </span>
        </div>
        <div class="from-group row">
          <div class="from-group row">
            <div class="form-group row">
              <label for="typeProblemeId" class="col-md-2 col-form-label text-right">Type de problème :</label>
              <div class="col-md-10">
                <select class="form-control" id="typeProblemeId" formControlName="typeprobleme">
                  <option value="">Sélectionnez un type de problème</option>
                  <option *ngFor="let typeProbleme of typesProbleme" [value]="typeProbleme.id">{{typeProbleme.descriptionTypeProbleme}}</option>
                </select>
              </div>
            </div>          
          </div>          
        </div>
        <!-- Ajoutez les boutons radio "Me notifier" et "Ne pas me notifier" -->
        <div class="form-group">
          <label>Notification:</label>
          <div>
            <input type="radio" id="meNotifier" name="notification" value="meNotifier" [(ngModel)]="notification" (change)="onNotificationChange()" />
            <label for="meNotifier">Me notifier</label>
          </div>
          <div>
            <input type="radio" id="nePasMeNotifier" name="notification" value="nePasMeNotifier" [(ngModel)]="notification" (change)="onNotificationChange()" />
            <label for="nePasMeNotifier">Ne pas me notifier</label>
          </div>
        </div>

        <!-- Ajoutez les champs "Adresse courriel", "Confirmation Adresse courriel" et "Téléphone" -->
        <div class="form-group">
          <label for="courriel">Adresse courriel:</label>
          <input type="email" id="courriel" name="courriel" [disabled]="!isNotificationEnabled" [(ngModel)]="problemeForm.controls.courrielGroup.controls.courriel.value" />
        </div>

        <div class="form-group">
          <label for="courrielConfirmation">Confirmation Adresse courriel:</label>
          <input type="email" id="courrielConfirmation" name="courrielConfirmation" [disabled]="!isNotificationEnabled" [(ngModel)]="problemeForm.controls.courrielGroup.controls.courrielConfirmation.value" />
        </div>

        <div class="form-group">
          <label for="telephone">Téléphone:</label>
          <input type="tel" id="telephone" name="telephone" [disabled]="!isNotificationEnabled" [(ngModel)]="problemeForm.controls.telephone.value" />
        </div>

      </form>
    </div>
  </div>
</div>
